<% if policy(post).create? %>
<div class="favorite">
  <% if favorite = current_user.favorited(post) %>
    <%= link_to [post, favorite], method: :delete, class: 'btn btn-danger' do %>
         <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Unfavorite
       <% end %>
  <% else %>
    Want to favorite this?
    <%= link_to [post, Favorite.new], method: :post, class: 'btn btn-primary' do %>
      <i class="glyphicon glyphicon-star"> </i>&nbsp; Favorite
    <% end %>
  <% end %>
</div>
<% end %>