<h1>All Advertisements</h1>

<% @advertisements.each do |ad| %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p><%= link_to ad.title, ad %></p>
      </h4>
    </div>
  </div>

<% end %>