<h1>All Posts</h1>

<%= link_to "New Post", new_post_path(@post), class: 'btn btn-success' %>

<% @posts.each do |post| %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <p><%= link_to post.title, post %></p>
      </h4>
    </div>
  </div>

<% end %>